<a href="https://colab.research.google.com/github/yujiimt/Python_tips/blob/main/folium/people_analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import folium

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
area_data = pd.read_csv("/content/drive/MyDrive/fabeee_pj/area_data/latest.csv")

In [ ]:
ibaraki = area_data[area_data["都道府県名"] == "茨城県"]

In [ ]:
moriya = ibaraki[ibaraki["市区町村名カナ"] == "モリヤシ"]

In [ ]:
moriya.head()

       都道府県コード 都道府県名 都道府県名カナ  ... 大字町丁目名         緯度          経度
47102        8   茨城県  イバラキケン  ...    赤法花  35.956983  140.008045
47103        8   茨城県  イバラキケン  ...    板戸井  35.969985  139.945805
47104        8   茨城県  イバラキケン  ...     大柏  35.938295  139.972790
47105        8   茨城県  イバラキケン  ...     大木  35.950489  139.937799
47106        8   茨城県  イバラキケン  ...   大山新田  35.973888  139.964440

[5 rows x 12 columns]

In [ ]:
city_data = pd.read_csv("/content/drive/MyDrive/fabeee_pj/01_moriya/守谷まちづくり/統計データ/moriya_city_people.csv", header = 1)
city_data.head(5)

       町丁目  世帯数  人口合計  男性人口  女性人口
0  みずき野一丁目  262   593   299   294
1  みずき野二丁目  179   405   188   217
2  みずき野三丁目  211   498   240   258
3  みずき野四丁目  165   386   193   193
4  みずき野五丁目  211   469   229   240

In [ ]:
city_data.columns = ["大字町丁目名", "世帯数", "人口合計", "男性人口", "女性人口"]

In [ ]:
merge_data = pd.merge(city_data, moriya, on =  "大字町丁目名", how = "inner")

In [ ]:
merge_data.head()

    大字町丁目名  世帯数  人口合計  男性人口  ...   市区町村名ローマ字     大字町丁目コード         緯度          経度
0  みずき野一丁目  262   593   299  ...  MORIYA SHI  82240022001  35.934379  140.007284
1  みずき野二丁目  179   405   188  ...  MORIYA SHI  82240022002  35.933902  140.011828
2  みずき野三丁目  211   498   240  ...  MORIYA SHI  82240022003  35.932759  140.015076
3  みずき野四丁目  165   386   193  ...  MORIYA SHI  82240022004  35.935897  140.016035
4  みずき野五丁目  211   469   229  ...  MORIYA SHI  82240022005  35.936934  140.012427

[5 rows x 16 columns]

In [ ]:
#moriya_station = folium.Map(location = [35.9501398, 139.9918898], zoom_start = 10)

moriya_map = folium.Map(location = [35.9501398, 139.9918898], zoom_start = 14)

In [ ]:
area_data = []
keido = list(merge_data['経度'])
ido = list(merge_data['緯度'])
sum_people = list(merge_data["人口合計"])
 
for k, i, c in zip(keido, ido, sum_people):
    area_data.append((i, k, c))

In [ ]:
moriya_heatmap = moriya_map

In [ ]:
from folium.plugins import HeatMap
moriya_heatmap.add_child(HeatMap(area_data,  gradient={8: 'blue', 499: 'lime', 691:'yellow',989: 'orange', 7643:'red'}))
moriya_heatmap

In [ ]:
merge_data.describe()

               世帯数         人口合計  ...         緯度          経度
count    74.000000    74.000000  ...  74.000000   74.000000
mean    361.148649   874.243243  ...  35.949867  139.985610
std     402.264265   925.116872  ...   0.015083    0.018176
min       6.000000     8.000000  ...  35.921982  139.937799
25%     212.500000   499.500000  ...  35.937562  139.972636
50%     291.500000   691.000000  ...  35.950222  139.986015
75%     390.000000   989.250000  ...  35.964293  140.000473
max    3393.000000  7643.000000  ...  35.974357  140.016983

[8 rows x 9 columns]

In [ ]:
moriya_map = folium.Map(location = [35.9501398, 139.9918898], zoom_start = 14)

for lat, lon, name, setai, goukei, man, women,  in zip(merge_data["緯度"], merge_data["経度"], merge_data["大字町丁目名"],merge_data["世帯数"], merge_data["人口合計"],	merge_data["男性人口"], merge_data["女性人口"]):
  folium.Marker(
        location=[lat, lon],
        popup="".join(["世帯:" + str(setai)  , "  世帯合計:" + str(goukei), "  男性:" + str(man), "  女性:" + str(women)]),
        tooltip=name,
    ).add_to(moriya_map)

In [ ]:
moriya_map.save("moriya.html")

In [ ]:
moriya_map